<h1>Edit Post</h1>
<form action="/posts/{{post.id}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="title" value="{{post.title}}" required>
    <textarea name="post_content" required>{{post.post_content}}</textarea>
    <button type="submit">Update Post</button>
</form>
