<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="text-center mb-4">Edit Post</h1>
          <form action="/posts/{{post.id}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" value="{{post.title}}" required class="form-control">
            </div>
            <div class="mb-3">
              <label for="post_content" class="form-label">Post Content</label>
              <textarea name="post_content" required class="form-control">{{post.post_content}}</textarea>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Update Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
