<!-- Dashboard -->

<form action="/new-post" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <textarea name="body" placeholder="Body" required></textarea>
    <button type="submit">New Post</button>
</form>
